<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Пользователи</title>

    <!-- Bootstrap CSS (jsDelivr CDN) -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <!-- Bootstrap Bundle JS (jsDelivr CDN) -->
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            crossorigin="anonymous"></script>
</head>
<script>

    window.addEventListener('DOMContentLoaded', getAllUsers);

    async function createUser() {
        const inputFirstName = document.getElementById('userFirstName');
        const firstName = inputFirstName.value;
        const inputLastName = document.getElementById('userLastName');
        const lastName = inputLastName.value;
        const inputAge = document.getElementById('userAge');
        const age = inputAge.value;
        const inputUsername = document.getElementById('userUsername');
        const username = inputUsername.value;
        const inputPassword = document.getElementById('userPassword');
        const password = inputPassword.value;
        const selectRoles = document.getElementById('selectRoles');
        Boolean
        var validate = true;
        const roles = [];
        const roleAdmin = {
            id: 1,
            name: 'ADMIN',
        };
        const roleUser = {
            id: 2,
            name: 'USER',
        };
        if (selectRoles.options[0].selected) {
            roles.push(roleAdmin);
        }
        if (selectRoles.options[1].selected) {
            roles.push(roleUser);
        }
        //Проверяем на валидность (update 06.12)
        if (!validateMail(username)) {
            validate = false;
            document.getElementById('newUsername').style.borderColor = "red";
            inputUsername.value = '';
        } else {
            document.getElementById('newUsername').style.borderColor = "#e5e5e5";
        }
        if (age < 1 || age > 2023) {
            validate = false;
            document.getElementById('newAge').style.borderColor = "red";
            inputAge.value = '';
        } else {
            document.getElementById('newAge').style.borderColor = "#e5e5e5";
        }
        if (password.length < 1) {
            validate = false;
            document.getElementById('newPassword').style.borderColor = "red";
            inputPassword.value = '';
        } else {
            document.getElementById('newFirstName').style.borderColor = "#e5e5e5";
        }
        if (!validateName(firstName)) {
            validate = false;
            document.getElementById('newFirstName').style.borderColor = "red";
            inputFirstName.value = '';
        } else {
            document.getElementById('newFirstName').style.borderColor = "#e5e5e5";
        }
        if (!validateName(lastName)) {
            validate = false;
            document.getElementById('newLastName').style.borderColor = "red";
            inputLastName.value = '';
        } else {
            document.getElementById('newLastName').style.borderColor = "#e5e5e5";
        }

        if (validate) {
            const response = await fetch('http://localhost:8080/api/users', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({username, firstName, lastName, password, age, roles})
            });
            if (response.ok) {
                const user = await response.json();
                insertUserInTable('allUsers', 'beforeend', user);
            }
            document.getElementById('newUsername').style.borderColor = "#e5e5e5";
            document.getElementById('newAge').style.borderColor = "#e5e5e5";
            document.getElementById('newPassword').style.borderColor = "#e5e5e5";
            document.getElementById('newFirstName').style.borderColor = "#e5e5e5";
            document.getElementById('newLastName').style.borderColor = "#e5e5e5";
            inputUsername.value = '';
            inputFirstName.value = '';
            inputLastName.value = '';
            inputPassword.value = '';
            inputAge.value = '';
            document.getElementById('nav-home').className = "tab-pane fade show active";
            document.getElementById('nav-profile').className = "tab-pane fade";
            document.getElementById('nav-home-tab').className = "nav-link active";
            document.getElementById('nav-profile-tab').className = "nav-link";
        }
    }

    function validateName(strForCheck) {
        let regForTest = /^[A-Za-zА-Яа-яЁё]+$/;
        return String(strForCheck).toLowerCase().match(regForTest);
    }

    function validateMail(strForCheck) {
        let regForTest = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return String(strForCheck).toLowerCase().match(regForTest);
    }

    async function getAllUsers() {
        const response = await fetch('http://localhost:8080/api/users');
        const users = await response.json();
        users.forEach(user => insertUserInTable('allUsers', 'beforeend', user));
    }

    async function updateUser() {
        const id = document.getElementById('inputEditID').value;
        const firstName = document.getElementById('inputEditFirstName').value;
        const lastName = document.getElementById('inputEditLastName').value;
        const age = document.getElementById('inputEditAge').value;
        const username = document.getElementById('inputEditUsername').value;
        const password = document.getElementById('inputEditPassword').value;
        const selectRoles = document.getElementById('selectEditRoles');
        Boolean
        var validate = true;
        const roles = [];
        const roleAdmin = {
            id: 1,
            name: 'ADMIN',
        };
        const roleUser = {
            id: 2,
            name: 'USER',
        };
        if (selectRoles.options[0].selected) {
            roles.push(roleAdmin);
        }
        if (selectRoles.options[1].selected) {
            roles.push(roleUser);
        }

        if (!validateMail(username)) {
            validate = false;
            document.getElementById('divEditUsername').style.borderColor = "red";
            inputUsername.value = '';
        }
        if (age < 1 || age > 2023) {
            validate = false;
            document.getElementById('divEditAge').style.borderColor = "red";
        }
        if (password.length < 1) {
            validate = false;
            document.getElementById('divEditPassword').style.borderColor = "red";
        }
        if (!validateName(firstName)) {
            validate = false;
            document.getElementById('divEditFirstName').style.borderColor = "red";
        }
        if (!validateName(lastName)) {
            validate = false;
            document.getElementById('divEditLastName').style.borderColor = "red";
        }

        if (validate) {
            const response = await fetch('http://localhost:8080/api/users/', {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({id, username, firstName, lastName, password, age, roles})
            });
            if (response.ok) {
                const user = await response.json();
                document.getElementById(`trOfUser${id}`).innerHTML = '';
                insertUserInTable(`trOfUser${id}`, 'beforeend', user);
            }
            document.getElementById('divEditUsername').style.borderColor = "#e5e5e5";
            document.getElementById('divEditAge').style.borderColor = "#e5e5e5";
            document.getElementById('divEditPassword').style.borderColor = "#e5e5e5";
            document.getElementById('divEditFirstName').style.borderColor = "#e5e5e5";
            document.getElementById('divEditLastName').style.borderColor = "#e5e5e5";
            closeModal('modalEdit');
        }
    }

    async function deleteUser() {
        const id = document.getElementById('inputDeleteID').value;
        const response = fetch(`http://localhost:8080/api/users/${id}`, {
            method: 'DELETE'
        });
        closeModal('modalDelete');
        document.getElementById(`trOfUser${id}`).remove();
    }

    function insertUserInTable(elementID, insertType, user) {
        let element = document.getElementById(elementID);
        element.insertAdjacentHTML(insertType,
            `<tr id="trOfUser${user.id}">       <td>${user.id}</td>
                                                <td>${user.firstName}</td>
                                                <td>${user.lastName}</td>
                                                <td>${user.age}</td>
                                                <td>${user.username}</td>
                                                <td id="tdOfUser${user.id}"></td>
                                                <td><button type="button" class="btn btn-primary"
                onclick="getEditModal('${user.id}', '${user.firstName}', '${user.lastName}', '${user.age}', '${user.username}', '${user.password}')">
                                                Edit
                                                </button>
                                                </td>
                                                <td>
                                                <button type="button" class="btn btn-danger"
                onclick="getDeleteModal('${user.id}', '${user.firstName}', '${user.lastName}', '${user.age}', '${user.username}')">
                                                Delete
                                                </button>
                                                </td>
                                                </tr>
                     `);
        const tdOfRole = document.getElementById(`tdOfUser${user.id}`);
        user.roles.forEach(role => tdOfRole.insertAdjacentHTML('beforeend',
            `<span style="margin: 1%">${role.name}</span>`));
    }

    function closeModal(modalName) {
        document.getElementById(`${modalName}`).style.display = "none";
    }

    function getEditModal(id, firstName, lastName, age, username, password) {
        const modalEdit = document.getElementById('modalEdit');
        document.getElementById('inputEditID').value = `${id}`;
        document.getElementById('inputEditFirstName').value = `${firstName}`;
        document.getElementById('inputEditLastName').value = `${lastName}`;
        document.getElementById('inputEditAge').value = `${age}`;
        document.getElementById('inputEditUsername').value = `${username}`;
        document.getElementById('inputEditPassword').value = `${password}`;
        const selectRoles = document.getElementById('selectEditRoles');
        selectRoles.options[0].removeAttribute("selected");
        selectRoles.options[1].removeAttribute("selected");
        for (var span of document.getElementById(`tdOfUser${id}`).children) {
            if (selectRoles.options[0].value == span.innerHTML) {
                selectRoles.options[0].setAttribute("selected", "true");
            }
            if (selectRoles.options[1].value == span.innerHTML) {
                selectRoles.options[1].setAttribute("selected", "true");
            }
        }
        modalEdit.style.display = "block";
    }

    function getDeleteModal(id, firstName, lastName, age, username) {
        const modalDelete = document.getElementById('modalDelete');
        document.getElementById('inputDeleteID').value = `${id}`;
        document.getElementById('inputDeleteFirstName').value = `${firstName}`;
        document.getElementById('inputDeleteLastName').value = `${lastName}`;
        document.getElementById('inputDeleteAge').value = `${age}`;
        document.getElementById('inputDeleteUsername').value = `${username}`;
        modalDelete.style.display = "block";
    }

</script>

<body style="background: #f0f0f0">
<div>
    <!--ШАПКА САЙТА-->
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand">
                <span style="font-weight: bold" th:text="${entryUser.username}"/>
                <span>with roles:</span>
                <span class="navbar-brand" style="margin: 1%" th:each="role : ${entryUser.roles}"
                      th:text="${role.name}"/>
            </a>
            <a class="navbar-brand" style="color: grey" th:href="@{/logout}">Logout</a>
        </div>
    </nav>

    <!--ЛЕВОЕ МЕНЮ-->
    <div>
        <div class="d-flex align-items-start">
            <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical"
                 style="width: 25%; background: white; height: 100vh">
                <a class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" href="#v-pills-home" role="tab"
                   aria-controls="v-pills-home" aria-selected="true">Admin</a>
                <a class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" href="#v-pills-profile" role="tab"
                   aria-controls="v-pills-profile" aria-selected="false">User</a>
            </div>

            <div class="tab-content" id="v-pills-tabContent" style="width: 90%">
                <!--РАЗДЕЛ БОКОВОГО МЕНЮ ADMIN-->
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                     aria-labelledby="v-pills-home-tab">
                    <p class="h1">Admin panel</p>
                    <nav class="nav nav-tabs" id="nav-tab" role="tablist" style="border: none">
                        <a class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" href="#nav-home" role="tab"
                           aria-controls="nav-home" selected="true">Users table</a>
                        <a class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" href="#nav-profile" role="tab"
                           aria-controls="nav-profile" selected="false">New user</a>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <!--ВКЛАДКА ТАБЛИЦЫ ЮЗЕРОВ-->
                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                             aria-labelledby="nav-home-tab"
                             style="border: 1px solid lightgrey; background: white; width: 98%">
                            <!--ЗДЕСЬ НАДПИСЬ НАД ТАБЛИЦЕЙ-->
                            <div style="background: #f6f6f6; border: 1px solid #e5e5e5">
                                <p class="h4" style="margin: 1%">All users</p>
                            </div>
                            <!--ЗДЕСЬ БУДЕТ ТАБЛИЦА-->
                            <div style="margin: 3%; width: 95%">
                                <table class="table table-striped" style="border-top: 1px solid #f6f6f6">
                                    <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">First Name</th>
                                        <th scope="col">Last Name</th>
                                        <th scope="col">Age</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Role</th>
                                        <th scope="col">Edit</th>
                                        <th scope="col">Delete</th>
                                    </tr>
                                    </thead>
                                    <tbody id="allUsers">
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <!--МОДАЛКА EDIT-->
                        <div class="modal" tabindex="-1" style="display: none" id="modalEdit">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="modalBasicLabelEdit">Edit user</h5>
                                        <button type="button" class="btn-close"
                                                aria-label="Close" onclick="closeModal('modalEdit')"></button>
                                    </div>
                                    <div class="modal-body">
                                        <!--ТЕЛО МОДАЛЬНОГО ОКНА-->
                                        <div style="max-width: 100%; text-align: center">
                                            <label for="editid" class="form-label"
                                                   style="font-weight: bold; margin-bottom: 0%; margin-top: 1%">ID</label>
                                            <div class="col-sm" id="editid"
                                                 style="border: 1px solid #e5e5e5; margin-left: 25%; margin-right: 25%">
                                                <input type="number"
                                                       class="form-control form-control-sm" id="inputEditID"
                                                       value="" readonly/>
                                            </div>

                                            <label for="divEditFirstName" class="form-label"
                                                   style="font-weight: bold; margin-bottom: 0%; margin-top: 1%">First
                                                Name</label>
                                            <div class="col-sm" id="divEditFirstName"
                                                 style="border: 1px solid #e5e5e5; margin-left: 25%; margin-right: 25%">
                                                <input type="text"
                                                       class="form-control form-control-sm"
                                                       id="inputEditFirstName"
                                                       value=""/>
                                            </div>

                                            <label for="divEditLastName" class="form-label"
                                                   style="font-weight: bold; margin-bottom: 0%; margin-top: 1%">Last
                                                Name</label>
                                            <div class="col-sm" id="divEditLastName"
                                                 style="border: 1px solid #e5e5e5; margin-left: 25%; margin-right: 25%">
                                                <input type="text"
                                                       class="form-control form-control-sm"
                                                       id="inputEditLastName"
                                                       value=""/>
                                            </div>

                                            <label for="divEditAge" class="form-label"
                                                   style="font-weight: bold; margin-bottom: 0%; margin-top: 1%">Age</label>
                                            <div class="col-sm" id="divEditAge"
                                                 style="border: 1px solid #e5e5e5; margin-left: 25%; margin-right: 25%">
                                                <input type="number"
                                                       class="form-control form-control-sm" id="inputEditAge"
                                                       value=""/>
                                            </div>

                                            <label for="divEditUsername" class="form-label"
                                                   style="font-weight: bold; margin-bottom: 0%; margin-top: 1%">Email</label>
                                            <div class="col-sm" id="divEditUsername"
                                                 style="border: 1px solid #e5e5e5; margin-left: 25%; margin-right: 25%">
                                                <input type="text"
                                                       class="form-control form-control-sm"
                                                       id="inputEditUsername"
                                                       value=""/>
                                            </div>

                                            <label for="divEditPassword" class="form-label"
                                                   style="font-weight: bold; margin-bottom: 0%; margin-top: 1%">Password</label>
                                            <div class="col-sm" id="divEditPassword"
                                                 style="border: 1px solid #e5e5e5; margin-left: 25%; margin-right: 25%">
                                                <input type="password"
                                                       class="form-control form-control-sm"
                                                       id="inputEditPassword"
                                                       value=""/>
                                            </div>

                                            <div class="form-group-lg"
                                                 style="margin-left: 25%; margin-right: 25%; margin-bottom: 0%; margin-top: 1%">
                                                <label for="selectEditRoles"
                                                       style="font-weight: bold">Role</label>
                                                <select multiple class="form-control"
                                                        id="selectEditRoles"
                                                        style="max-height: 4em">
                                                    <option value="ADMIN">ADMIN</option>
                                                    <option value="USER">USER</option>
                                                </select>
                                            </div>
                                        </div><!--от формы юзера-->
                                    </div><!--от тела модального окна-->
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                                onclick="closeModal('modalEdit')">Close
                                        </button>
                                        <button type="submit" class="btn btn-primary" id="editButton" value=""
                                                onclick="updateUser()">Edit
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div> <!--от модалки edit-->

                        <!--МОДАЛЬНОЕ ОКНО DELETE-->
                        <div class="modal" tabindex="-1" style="display: none" id="modalDelete">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="modalBasicLabelDelete">Delete
                                            user</h5>
                                        <button type="button" class="btn-close"
                                                aria-label="Close" onclick="closeModal('modalDelete')"></button>
                                    </div>
                                    <div class="modal-body">
                                        <!--ТЕЛО МОДАЛЬНОГО ОКНА-->
                                        <div style="max-width: 100%; text-align: center">
                                            <label for="deleteid" class="form-label"
                                                   style="font-weight: bold; margin-bottom: 0%; margin-top: 1%">ID</label>
                                            <div class="col-sm" id="deleteid"
                                                 style="border: 1px solid #e5e5e5; margin-left: 25%; margin-right: 25%">
                                                <input type="number"
                                                       class="form-control form-control-sm" id="inputDeleteID"
                                                       value="" readonly>
                                            </div>

                                            <label for="deletefirstname" class="form-label"
                                                   style="font-weight: bold; margin-bottom: 0%; margin-top: 1%">First
                                                Name</label>
                                            <div class="col-sm" id="deletefirstname"
                                                 style="border: 1px solid #e5e5e5; margin-left: 25%; margin-right: 25%">
                                                <input type="text"
                                                       class="form-control form-control-sm"
                                                       id="inputDeleteFirstName" value="" readonly>
                                            </div>

                                            <label for="deletelastname" class="form-label"
                                                   style="font-weight: bold; margin-bottom: 0%; margin-top: 1%">Last
                                                Name</label>
                                            <div class="col-sm" id="deletelastname"
                                                 style="border: 1px solid #e5e5e5; margin-left: 25%; margin-right: 25%">
                                                <input type="text"
                                                       class="form-control form-control-sm"
                                                       id="inputDeleteLastName"
                                                       value="" readonly>
                                            </div>

                                            <label for="deleteage" class="form-label"
                                                   style="font-weight: bold; margin-bottom: 0%; margin-top: 1%">Age</label>
                                            <div class="col-sm" id="deleteage"
                                                 style="border: 1px solid #e5e5e5; margin-left: 25%; margin-right: 25%">
                                                <input type="number"
                                                       class="form-control form-control-sm" id="inputDeleteAge"
                                                       value="" readonly>
                                            </div>

                                            <label for="deleteemail" class="form-label"
                                                   style="font-weight: bold; margin-bottom: 0%; margin-top: 1%">Email</label>
                                            <div class="col-sm" id="deleteemail"
                                                 style="border: 1px solid #e5e5e5; margin-left: 25%; margin-right: 25%">
                                                <input type="text"
                                                       class="form-control form-control-sm"
                                                       id="inputDeleteUsername" value="" readonly>
                                            </div>

                                            <div class="form-group-lg"
                                                 style="margin-left: 25%; margin-right: 25%; margin-bottom: 0%; margin-top: 1%">
                                                <label for="selectDeleteRoles"
                                                       style="font-weight: bold">Role</label>
                                                <select multiple class="form-control"
                                                        id="selectDeleteRoles"
                                                        style="max-height: 4em" readonly>
                                                    <option value="ADMIN" readonly>ADMIN</option>
                                                    <option value="USER" readonly>USER</option>
                                                </select>
                                            </div>
                                        </div><!--от формы юзера-->
                                    </div>
                                    <div class="modal-footer" style="border-top: 0px solid white">
                                        <button type="button" class="btn btn-secondary"
                                                onclick="closeModal('modalDelete')">Close
                                        </button>
                                        <button type="submit" class="btn btn-danger" id="deleteButton" value=""
                                                onclick="deleteUser()">Delete
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div><!--от модалки delete-->

                        <!--ВКЛАДКА ДЛЯ НОВОГО ЮЗЕРА-->
                        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab"
                             style="border: 1px solid lightgrey; background: white; width: 98%; overflow: hidden">
                            <!--ЗДЕСЬ НАДПИСЬ НАД ФОРМОЙ-->
                            <div style="background: #f6f6f6; border: 1px solid #e5e5e5">
                                <p class="h4" style="margin: 1%">Add new user</p>
                            </div>
                            <!--ЗДЕСЬ БУДЕТ САМА ФОРМА-->
                            <!--<form>-->
                            <div style="max-width: 100%; border: 1px solid #e5e5e5; text-align: center">
                                <label for="newFirstName" class="form-label" style="font-weight: bold; margin-top: 1%">First
                                    Name</label>
                                <div class="col-sm" id="newFirstName"
                                     style="border: 1px solid #e5e5e5; margin-left: 25%; margin-right: 25%">
                                    <input type="text" class="form-control form-control-sm" id="userFirstName"
                                           placeholder="First Name"/>
                                </div>

                                <label for="newLastName" class="form-label" style="font-weight: bold">Last Name</label>
                                <div class="col-sm" id="newLastName"
                                     style="border: 1px solid #e5e5e5; margin-left: 25%; margin-right: 25%">
                                    <input type="text" class="form-control form-control-sm" id="userLastName"
                                           placeholder="Last Name">
                                </div>

                                <label for="newAge" class="form-label" style="font-weight: bold">Age</label>
                                <div class="col-sm" id="newAge"
                                     style="border: 1px solid #e5e5e5; margin-left: 25%; margin-right: 25%">
                                    <input type="number" class="form-control form-control-sm" id="userAge"
                                           placeholder="Age">
                                </div>

                                <label for="newUsername" class="form-label" style="font-weight: bold">Email</label>
                                <div class="col-sm" id="newUsername"
                                     style="border: 1px solid #e5e5e5; margin-left: 25%; margin-right: 25%">
                                    <input type="text" class="form-control form-control-sm" id="userUsername"
                                           placeholder="Email">
                                </div>

                                <label for="newPassword" class="form-label" style="font-weight: bold">Password</label>
                                <div class="col-sm" id="newPassword"
                                     style="border: 1px solid #e5e5e5; margin-left: 25%; margin-right: 25%">
                                    <input type="password" class="form-control form-control-sm" id="userPassword"
                                           placeholder="Password">
                                </div>

                                <div class="form-group-lg"
                                     style="margin-left: 25%; margin-right: 25%; margin-top: 1%">
                                    <label for="selectRoles" style="font-weight: bold">Role</label>
                                    <select multiple class="form-control" id="selectRoles"
                                            style="max-height: 4em">
                                        <option value="ADMIN" selected>ADMIN</option>
                                        <option value="USER" selected>USER</option>
                                    </select>
                                </div>
                                <button type="submit" onclick="createUser()" class="btn btn-success" style="margin: 2%">
                                    Add new user
                                </button>
                            </div><!--от формы под надписью-->
                            <!--                            </form>-->
                        </div><!--от вкладки создания нового юзера-->
                    </div>
                </div>

                <!--РАЗДЕЛ БОКОВОГО МЕНЮ USER-->
                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                    <!--ЗДЕСЬ ДОЛЖНА БЫТЬ КАРТА ЮЗЕРА-->
                    <p class="h1">User information-page</p>
                    <div style="border: 1px solid #e5e5e5; width: 99%; background: white">
                        <div style="background: #f6f6f6; border: 1px solid #e5e5e5">
                            <p class="h4" style="margin: 1%">About user</p></div>
                        <!--ЗДЕСЬ БУДЕТ ТАБЛИЦА ИЗ ОДНОЙ СТРОКИ-->
                        <div style="margin: 2%">
                            <table class="table table-striped" style="border-top: 1px solid #f6f6f6">
                                <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">First Name</th>
                                    <th scope="col">Last Name</th>
                                    <th scope="col">Age</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Role</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th scope="row" th:text="${entryUser.id}"/>
                                    <td th:text="${entryUser.firstName}"/>
                                    <td th:text="${entryUser.lastName}"/>
                                    <td th:text="${entryUser.age}"/>
                                    <td th:text="${entryUser.username}"/>
                                    <td>
                                        <span style="margin: 1%" th:each="role : ${entryUser.roles}"
                                              th:text="${role.name}"/>
                                    </td>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div> <!--от tab контента-->
            </div> <!--от бокового меню-->
        </div> <!--от общей страницы-->
    </div>
</div>
</body>
</html>

<style>
    input[readonly] {
        background-color: lightgrey;
        color: #6c757d;
        cursor: not-allowed;
    }

    select[readonly] {
        background-color: lightgrey;
        color: #6c757d;
        cursor: not-allowed;
    }
</style>