<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Изменение</title>
</head>
<body style="background-color: #d1d1d1">
<div align="center">
    <h1>Обновить пользователя</h1>
    <form th:method="POST" th:action="@{/admin/updateUser}" th:object="${user}">
        <br>
        <br>
        <label for="id">id</label>
        <input type="text" th:field="*{id}" id="id" readonly/>
        <div style="color: red" th:if="${#fields.hasErrors('id')}" th:errors="*{id}"/>
        <br>
        <br>
        <label for="username">Введите имя</label>
        <input type="text" th:field="*{username}" id="username"/>
        <div style="color: red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"/>
        <br>
        <br>
        <br>
        <label for="lastName">Введите фамилию</label>
        <input type="text" th:field="*{lastName}" id="lastName"/>
        <div style="color: red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"/>
        <br>
        <br>
        <br>
        <label for="password">Введите пароль</label>
        <input type="text" th:field="*{password}" id="password"/>
        <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"/>
        <br>
        <br>
        <br>
        <label for="year">Введите год рождения</label>
        <input type="number" th:field="*{year}" id="year"/>
        <div style="color: red" th:if="${#fields.hasErrors('year')}" th:errors="*{year}"/>
        <br>
        <br>
        <div th:each="role, item : *{roles}">
            <label for="roles">Введите роль</label>
            <input type="text" th:field="*{roles[__${item.index}__].name}" id="roles"/>
            <div style="color: red" th:if="${#fields.hasErrors('roles[__${item.index}__].name')}"
                 th:errors="*{roles[__${item.index}__].name}"/>
        </div>
        <br>
        <br>
        <br>
        <input type="submit" value="Обновить"/>
        <a th:href="@{/admin}">На главную</a>
    </form>
</div>
</body>
</html>